body{
    background-color: #92F611;
}
.tamagotchi__game-character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tamagotchi__game-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}

p{
    font-family: 'joystix';
}

