body{
    background-color: #92F611;
}
.tamagotchi__game-character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.tamagotchi__game-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.ponto{
    font-family: 'joystix';
    color: black;
}

.tamagotchi__game-actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.action, .action__sleep{
    font-family: 'joystix';
    border: 2px solid black;
}
