.tamagotchi__home{
    background-color: #92F611;
    height: 100vh;
}

.tamagotchi__home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    box-sizing: border-box;
}

.home__title{
    font-family: 'Pixelmania';
    width: 7ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(7), blinking 0.5s step-end alternate;
    padding: 8px;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blinking{
    50% {
        border-color: transparent;
    }
}

.gatinho__home-img{
    animation: bounceIn;
    animation-duration: 5s;
    
}

.start-button{
    font-family: 'joystix';
}

.start-button a{
    text-decoration: none;
    font-size: 24px;
    color: #FF2F7C;
    animation: changeColor 3s ease-in-out infinite alternate;
}

.start-button{
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes changeColor {
    0% {
      color: #FF2F7C;
    }
    50% {
      color: #00ADBC;
    }
    100% {
      color: #FF2F7C;
    }
  }
